{erl_opts, [debug_info]}.

{deps, [
    {jsx, "3.1.0"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [erlmcp]}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"},
            {meck, "0.9.2"}
        ]}
    ]}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
