{erl_opts, [debug_info, warnings_as_errors, warn_unused_vars,
             warn_shadow_vars, warn_unused_import]}.

{deps, [
    {cowboy, "2.9.0"},
    {jsx, "3.1.0"},
    {uuid, "1.7.5"},
    {crypto, "4.11.0"},
    {redix, "1.1.0"}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"},
            {meck, "0.9.2"}
        ]}
    ]},
    {prod, [
        {erl_opts, [debug_info, warnings_as_errors, warn_unused_vars,
                   warn_shadow_vars, warn_unused_import, no_debug_info]}
    ]}
]}.