{erl_opts, [debug_info, {i, "../../erlmcp_core/include"}, {i, "../../include"}]}.

{deps, [
    {jsx, "3.1.0"},
    {jesse, "1.8.1"},
    {erlmcp_core, {path, "../erlmcp_core"}},
    {erlmcp_transports, {path, "../erlmcp_transports"}}
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns,
        unknown
    ]},
    {plt_extra_apps, [jsx, jesse]}
]}.
