{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, export_all, nowarn_export_all]},
        {deps, [
            {proper, "1.4.0"}
        ]}
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{ct_opts, [
    {sys_config, "config/test.config"}
]}.
