apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    version: 1
    editable: false
    jsonData:
      httpMethod: POST
      queryTimeout: 60s
      timeInterval: 30s
      httpMethod: POST
      timeInterval: 30s
      maxDataPoints: 1000
      maxSeries: 1000
    secureJsonData: {}
    version: 1
    deleteDatasource: false

  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    basicAuth: false
    isDefault: false
    version: 1
    editable: true
    jsonData:
      maxLines: 1000
      timeInterval: 30s
    secureJsonData: {}
    version: 1
    deleteDatasource: false

  - name: Jaeger
    type: jaeger
    access: proxy
    orgId: 1
    url: http://jaeger:16686
    basicAuth: false
    isDefault: false
    version: 1
    editable: true
    jsonData:
      queryTimeout: 60s
      traceQueryTimeout: 60s
    secureJsonData: {}
    version: 1
    deleteDatasource: false