{erl_opts, [debug_info, warnings_as_errors, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.

{deps, [
    {jsx, "3.1.0"},
    {jesse, "1.8.0"}
]}.

{erl_first_files, []}.

{shell, [
    {apps, [memory_server]}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]}
    ]},
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]}
    ]}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
