{erl_opts, [
    debug_info,
    {i, "include"}
]}.

{deps, [
    {jsx, "3.1.0"},
    {jesse, "1.8.1"},
    {gproc, "0.9.0"},
    {jose, "1.11.1"},
    {bbmustache, "1.12.2"}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"},
            {meck, "0.9.2"}
        ]},
        {erl_opts, [
            debug_info,
            nowarn_export_all
        ]}
    ]},
    {bench, [
        {erl_opts, [
            debug_info,
            {i, "include"},
            {src_dirs, ["src", "bench"]}
        ]}
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{dialyzer, [
    {warnings, [
        unknown,
        no_return,
        error_handling,
        underspecs
    ]},
    {plt_extra_apps, [jsx, jesse, gproc, jose, bbmustache, crypto, public_key]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
